<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>升通保理管理平台</title>
</head>
<frameset rows="88,*,31" cols="*" frameborder="no" border="0" framespacing="0" style="background-color: rgb(204, 232, 207);">
    <frame src="http://office.le1bao.com/home/top" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame">
    <frameset cols="187,*" frameborder="no" border="0" framespacing="0" id="middleFrame">
        <frame src="http://office.le1bao.com/home/left" name="leftFrame" scrolling="Yes" noresize="noresize" id="leftFrame" title="leftFrame">
        <frame src="http://office.le1bao.com/home/default" name="rightFrame" id="rightFrame" title="rightFrame">
    </frameset>
    <frame src="http://office.le1bao.com/home/footer" name="bottomFrame" scrolling="No" noresize="noresize" id="bottomFrame" title="bottomFrame">
</frameset>

</html>