<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
   
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
    <script language="JavaScript" th:attr="src=@{/js/jquery-1.10.2.min.js}"></script>
    <style>
        .hand { cursor:pointer; }
    </style>
    <script>
        
        $(function () {
            $("#tip").click(function () {
                if ($("#hid").val() == "0") {
                    parent.document.getElementById("middleFrame").cols = "0,*";
                    $("#hid").val(1);
                    $("#tip").html(" »显示菜单");
                }
                else {
                    parent.document.getElementById("middleFrame").cols = "187,*";
                    $("#hid").val(0);
                    $("#tip").html(" «收起菜单");
                }
                
            });            
        });
    </script>
</head>
<body>
    <div class="footer">
        <span id="tip" class="hand"> «收起菜单 </span>
        <i>版权所有 2015 升通保理</i>
    </div>
    <input type="hidden" id="hid" value="0" />
</body>
</html>
