<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:attr="src=@{/js/jquery-1.10.2.min.js}"></script>
    
    
    <script type="text/javascript">
        $(function () {

            //导航切换
            $(".menuson .header").click(function () {
                var $parent = $(this).parent();
                $(".menuson>li.active").not($parent).removeClass("active open").find('.sub-menus').hide();

                $parent.addClass("active");
                if (!!$(this).next('.sub-menus').size()) {
                    if ($parent.hasClass("open")) {
                        $parent.removeClass("open").find('.sub-menus').hide();
                    } else {
                        $parent.addClass("open").find('.sub-menus').show();
                    }
                }
            });
            // 三级菜单点击
            $('.sub-menus li').click(function (e) {
                $(".sub-menus li.active").removeClass("active")
                $(this).addClass("active");
            });
            $('.title').click(function () {
                var $ul = $(this).next('ul');
                $('dd').find('.menuson').slideUp();
                if ($ul.is(':visible')) {
                    $(this).next('.menuson').slideUp();
                } else {
                    $(this).next('.menuson').slideDown();
                }
            });
        })
        function Show(t) {
            $(".menuson>li").css("background-color", "#fff");
            //$(".menuson>li>a").css("color","#bbb");
            $(t).parent("li").css("background-color", "#E1F4FC");
            //$(t).css("color","#fff");
            return true;
        }
    </script>
    <style>
        html {
            overflow-x: hidden;
        }
    </style>
</head>
<body style="background: #f0f9fd;">
    <div style="display:none;">
        
    </div>
    <div class="lefttop">
        <span></span>请点击操作
    </div>
    <div style="overflow-y: scroll; overflow-x: hidden; width: 187px; padding-bottom: 29px; margin-bottom: 29px; height: 100%;">

        <dl class="leftmenu">
                <dd>
                    <div class="title">
                        <span>
                            <img src="/content/assets/images/leftico01.png" />
                        </span>订单管理
                    </div>
                    <ul class="menuson">
                            <li><cite></cite><a th:href="@{MavenSSM/home/main}" target="rightFrame" onclick="Show(this)">批次管理</a><i></i></li>
                    </ul>
                </dd>
        </dl>
    </div>
</body>
</html>
