<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:attr="src=@{/js/jquery-1.10.2.min.js}"></script>
    
    
    <script type="text/javascript">
        $(function () {

            //导航切换
            $(".menuson .header").click(function () {
                var $parent = $(this).parent();
                $(".menuson>li.active").not($parent).removeClass("active open").find('.sub-menus').hide();

                $parent.addClass("active");
                if (!!$(this).next('.sub-menus').size()) {
                    if ($parent.hasClass("open")) {
                        $parent.removeClass("open").find('.sub-menus').hide();
                    } else {
                        $parent.addClass("open").find('.sub-menus').show();
                    }
                }
            });
            // 三级菜单点击
            $('.sub-menus li').click(function (e) {
                $(".sub-menus li.active").removeClass("active")
                $(this).addClass("active");
            });
            $('.title').click(function () {
                var $ul = $(this).next('ul');
                $('dd').find('.menuson').slideUp();
                if ($ul.is(':visible')) {
                    $(this).next('.menuson').slideUp();
                } else {
                    $(this).next('.menuson').slideDown();
                }
            });
        })
        function Show(t) {
            $(".menuson>li").css("background-color", "#fff");
            //$(".menuson>li>a").css("color","#bbb");
            $(t).parent("li").css("background-color", "#E1F4FC");
            //$(t).css("color","#fff");
            return true;
        }
    </script>
    <style>
        html {
            overflow-x: hidden;
        }
    </style>
</head>
<body style="background: #f0f9fd;">
    <div style="display:none;">
        
    </div>
    <div class="lefttop">
        <span></span>请点击操作
    </div>
    <div style="overflow-y: scroll; overflow-x: hidden; width: 187px; padding-bottom: 29px; margin-bottom: 29px; height: 100%;">
        <dl class="leftmenu">
                <dd>
                    <div class="title">
                        <span>
                            <img th:attr="src=@{/images/leftico01.png}" />
                        </span>合作企业管理
                    </div>
                    <ul class="menuson">
                            <li><cite></cite><a th:href="@{/partner/partnerType}" target="rightFrame" onclick="Show(this)">企业类型管理</a><i></i></li>
                            <li><cite></cite><a th:href="@{/partner/partner}" target="rightFrame" onclick="Show(this)">企业管理</a><i></i></li>
                            <li><cite></cite><a th:href="@{/partner/partnerFile}" target="rightFrame" onclick="Show(this)">企业档案</a><i></i></li>
                            <li><cite></cite><a th:href="@{/partner/partner}" target="rightFrame" onclick="Show(this)">合作记录管理</a><i></i></li>
                    </ul>
                </dd>
        </dl>
        <dl class="leftmenu">
                <dd>
                    <div class="title">
                        <span>
                            <img th:attr="src=@{/images/leftico01.png}" />
                        </span>车贷管理
                    </div>
                    <ul class="menuson">
                            <li><cite></cite><a th:href="@{/carLoan/clOrderInsert}" target="rightFrame" onclick="Show(this)">新增订单</a><i></i></li>
                            <li><cite></cite><a th:href="@{/carLoan/clOrderbaseSelect}" target="rightFrame" onclick="Show(this)">订单管理</a><i></i></li>
                            <li><cite></cite><a th:href="@{/carLoan/clOrderApplyResult}" target="rightFrame" onclick="Show(this)">审核结果</a><i></i></li>
                            <li><cite></cite><a th:href="@{/carLoan/clOrderCheckFour}" target="rightFrame" onclick="Show(this)">四要素验证</a><i></i></li>
                            <li><cite></cite><a th:href="@{/carLoan/clSendCarVin}" target="rightFrame" onclick="Show(this)">发送车辆Vin</a><i></i></li>
                    </ul>
                </dd>
        </dl>
 		<dl class="leftmenu">
                <dd>
                    <div class="title">
                        <span>
                            <img th:attr="src=@{/images/leftico01.png}" />
                        </span>车险管理
                    </div>
                    <ul class="menuson">
                            <li><cite></cite><a th:href="@{/main}" target="rightFrame" onclick="Show(this)">批次管理</a><i></i></li>
                            <li><cite></cite><a th:href="@{/main}" target="rightFrame" onclick="Show(this)">订单管理</a><i></i></li>
                            <li><cite></cite><a th:href="@{/main}" target="rightFrame" onclick="Show(this)">账户管理</a><i></i></li>
                    </ul>
                </dd>
        </dl>
		<dl class="leftmenu">                
                 <dd>
                    <div class="title">
                        <span>
                            <img th:attr="src=@{/images/leftico01.png}" />
                        </span>账目管理
                    </div>
                    <ul class="menuson">
                            <li><cite></cite><a th:href="@{/main}" target="rightFrame" onclick="Show(this)">收入管理</a><i></i></li>
                    </ul>
                </dd>
        </dl>
		<dl class="leftmenu">                
                <dd>
                    <div class="title">
                        <span>
                            <img th:attr="src=@{/images/leftico01.png}" />
                        </span>还款方式
                    </div>
                    <ul class="menuson">
                            <li><cite></cite><a th:href="@{/main}" target="rightFrame" onclick="Show(this)">等额本息</a><i></i></li>
                            <li><cite></cite><a th:href="@{/main}" target="rightFrame" onclick="Show(this)">等本等息</a><i></i></li>
                            <li><cite></cite><a th:href="@{/main}" target="rightFrame" onclick="Show(this)">等额本金</a><i></i></li>
                    </ul>
                </dd>
        </dl>
		<dl class="leftmenu">                
                <dd>
                    <div class="title">
                        <span>
                            <img th:attr="src=@{/images/leftico01.png}" />
                        </span>系统设置
                    </div>
                    <ul class="menuson">
                            <li><cite></cite><a th:href="@{/main}" target="rightFrame" onclick="Show(this)">权限管理</a><i></i></li>
                    </ul>
                </dd>
		</dl>
    </div>
</body>
</html>
