<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/css/public.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    
    <script th:attr="src=@{/js/jquery-1.10.2.min.js}"></script>
    
    <script type="text/javascript" th:attr="src=@{/js/jquery.form.js}"></script>
    <script type="text/javascript" th:attr="src=@{/js/layer.js}"></script>
    <script type="text/javascript" language="javascript">
        $(function () {
            $('.loginbox').css({ 'position': 'absolute', 'left': ($(window).width() - 692) / 2 });
            $(window).resize(function () {
                $('.loginbox').css({ 'position': 'absolute', 'left': ($(window).width() - 692) / 2 });
            })
        });
    </script>
    <script type="text/javascript">
        $(function () {
        	var msg =document.getElementById("msg").innerHTML;
        	if(msg)
        	{
        		layer.alert(msg);
        	}
            $("#btnLogin").click(function () {
                //验证
                if (!$("input[name='username']").val()) {
                    layer.alert("请输入用户名!");
                    return;
                }
                if (!$("input[name='password']").val()) {
                    layer.alert("请填写密码!");
                    return;
                }
                $("#LoginForm").submit();
            });
        });


    </script>
</head>

<body>
    <div class="container">
        <img th:attr="src=@{/images/logoMain.png}" alt="" class="loginLogo">
        <div class="loginBox">
            <form id="LoginForm" method="post">
                <input type="text" name="username" id="loginAccount" placeholder="USERNAME">
                <input type="password" name="password" id="loginPassword" placeholder="PASSWORD">
                <label for="sevenDays" id="sevenDaysLabel">七天免密登录</label>
                <input type="checkbox" name="sex" id="sevenDays" />
                <button id="btnLogin" onclick="return false;">登录</button>
                <p class="other">
                    <a href="" id="noAccount">没有账户？</a>
                    <a href="" id="loginNow">立即登录</a>
                </p>
            </form>
            
        </div>
        <p style="display:none" id="msg" th:text=${session.msg}></p>
        <div class="bottomBox">
        			
            <h1>深圳升通保理有限公司</h1>
            <p>
                <span>Copyright©2016 深圳升通保理有限公司 xxxxx</span>
                <span>热线电话：1111111111</span>
            </p>
        </div>
    </div>
</body>
</html>
