<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/css/public.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    
    <script th:attr="src=@{/js/jquery-1.10.2.min.js}"></script>
    
    <script type="text/javascript" th:attr="src=@{/js/jquery.form.js}"></script>
    <script type="text/javascript" th:attr="src=@{/js/layer.js}"></script>
    <script type="text/javascript" language="javascript">
        $(function () {
            $('.loginbox').css({ 'position': 'absolute', 'left': ($(window).width() - 692) / 2 });
            $(window).resize(function () {
                $('.loginbox').css({ 'position': 'absolute', 'left': ($(window).width() - 692) / 2 });
            })
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#btnLogin").click(function () {
                //验证
                if (!$("input[name='userName']").val()) {
                    layer.alert("请输入用户名!");
                    return;
                }
                if (!$("input[name='password']").val()) {
                    layer.alert("请填写密码!");
                    return;
                }
                var indexWait = 0;
                
                $.ajax({
                    type: "post",
                    url: "/MavenSSM/Home/LoginPost/",
                    data: $("#LoginForm").formSerialize(),
                    error: function () {
                        layer.close(indexWait);
                        layer.alert("网络传输错误,请稍后再试,谢谢.");
                    },
                    beforeSend: function () {
                        indexWait = layer.load(0, { shade: [0.6, '#bbb'] });
                    },
                    success: function (json) {
                        layer.close(indexWait);
                        json =JSON.parse(json);
                        if (json.result == true) {
                        	layer.alert(json.msg);
                            window.location.href = '/MavenSSM/home/main';
                        }
                        else {
                            layer.alert(json.msg, function (index) {
                                layer.close(index);
                                $("input[name='password']").val('');
                            });
                        }
                    }
                });
            });
        });


    </script>
</head>

<body>
    <div class="container">
        <img th:attr="src=@{/images/logoMain.png}" alt="" class="loginLogo">
        <div class="loginBox">
            <form id="LoginForm" method="post">
                <input type="text" name="userName" id="loginAccount" placeholder="USERNAME">
                <input type="password" name="password" id="loginPassword" placeholder="PASSWORD">
                <label for="sevenDays" id="sevenDaysLabel">七天免密登录</label>
                <input type="checkbox" name="sex" id="sevenDays" />
                <button id="btnLogin" onclick="return false;">登录</button>
                <p class="other">
                    <a href="" id="noAccount">没有账户？</a>
                    <a href="" id="loginNow">立即登录</a>
                </p>
            </form>
        </div>
        <div class="bottomBox">
            <h1>深圳升通保理有限公司</h1>
            <p>
                <span>Copyright©2016 深圳升通保理有限公司 xxxxx</span>
                <span>热线电话：1111111111</span>
            </p>
        </div>
    </div>
</body>
</html>
